<%- include header%>
<ul style="list-style:none">
    <li><h3><a href="http://www.baidu.com">百度</a> </h3></li>
    <li><h3><a href="http://mail.126.com">126邮箱</a> </h3></li>
</ul>
<%- include footer%>